{% set title = movie.title %}
{% extends 'base.html.twig' %}
{% block content %}
    <section class="section section--details section--bg" data-bg="{{ asset('img/section/details.jpg') }}">
        <!-- details content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h1 class="section__title">{{ movie.title }}</h1>
                </div>
                <!-- end title -->

                <!-- content -->
                <div class="col-12 col-lg-6">
                    <div class="card card--details">
                        <div class="row">
                            <!-- card cover -->
                            <div class="col-12 col-sm-5 col-lg-6 col-xl-5">
                                <div class="card__cover">
                                    <img src="{{ movie.poster_path|mediaURL('w342') }}" alt="">
                                    {% if movie.vote_count > 0 %}
                                    <span class="card__rate card__rate--{{ movie.vote_average >= 7 ? 'green' : movie.vote_average >= 5 ? 'orange' : 'red' }}">{{ movie.vote_average }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- end card cover -->

                            <!-- card content -->
                            <div class="col-12 col-sm-7 col-lg-6 col-xl-7">
                                <div class="card__content">
                                    <ul class="card__meta">
                                        <li><span>{{ 'details.director'|trans }}:</span> <a href="#">{{ credits.crew[0].name }}</a></li>
                                        <li><span>{{ 'details.genre'|trans }}:</span> {% for genre in movie.genres %} <a href="{{ path('discover', {'genre': genre.id}) }}">{{ genre.name }}</a> {% endfor %}
                                        <li><span>{{ 'details.release-year'|trans }}:</span> {{ movie.release_date|date("Y") }}</li>
                                        <li><span>{{ 'details.running-time'|trans }}:</span> {{ movie.runtime }} min</li>
                                        <li><span>{{ 'details.origin-country'|trans }}:</span> {% for country in movie.production_countries %} <a href="#">{{ country.name|length > 16 ? country.iso_3166_1 : country.name }}</a> {% endfor %}</li>
                                    </ul>
                                    <div class="card__description">
                                        {{ movie.overview }}
                                    </div>
                                </div>
                            </div>
                            <!-- end card content -->
                        </div>
                    </div>
                </div>
                <!-- end content -->

                {% if videos %}
                <!-- player -->
                <iframe class="col-12 col-lg-6" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" type="text/html" src="https://www.youtube.com/embed/{{ videos[0].key }}?autoplay=0&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe>
                <!-- end player -->
                {% endif %}
            </div>
        </div>
        <!-- end details content -->
    </section>
    <!-- end details -->

    <!-- content -->
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">{{ 'details.discover'|trans }}</h2>
                        <!-- end content title -->

                        <!-- content tabs nav -->
                        <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">{{ 'details.comments'|trans }}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">{{ 'details.reviews'|trans }}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">{{ 'details.pictures'|trans }}</a>
                            </li>
                        </ul>
                        <!-- end content tabs nav -->

                        <!-- content mobile tabs nav -->
                        <div class="content__mobile-tabs" id="content__mobile-tabs">
                            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="{{ 'details.comments'|trans }}">
                                <span></span>
                            </div>

                            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">{{ 'details.comments'|trans }}</a></li>

                                    <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">{{ 'details.reviews'|trans }}</a></li>

                                    <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">{{ 'details.pictures'|trans }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end content mobile tabs nav -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-8">
                    <!-- content tabs -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                            <div class="row">
                                <!-- comments -->
                                <div class="col-12">
                                    <div class="comments">
                                        <ul class="comments__list">
                                            <li class="comments__item">
                                                <div class="comments__autor">
                                                    <img class="comments__avatar" src="{{ asset('img/user.png') }}" alt="">
                                                    <span class="comments__name">John Doe</span>
                                                    <span class="comments__time">30.08.2018, 17:53</span>
                                                </div>
                                                <p class="comments__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                                <div class="comments__actions">
                                                    <div class="comments__rate">
                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>12</button>

                                                        <button type="button">7<i class="icon ion-md-thumbs-down"></i></button>
                                                    </div>

                                                    <button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
                                                    <button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
                                                </div>
                                            </li>

                                            <li class="comments__item comments__item--answer">
                                                <div class="comments__autor">
                                                    <img class="comments__avatar" src="{{ asset('img/user.png') }}" alt="">
                                                    <span class="comments__name">John Doe</span>
                                                    <span class="comments__time">24.08.2018, 16:41</span>
                                                </div>
                                                <p class="comments__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                <div class="comments__actions">
                                                    <div class="comments__rate">
                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>8</button>

                                                        <button type="button">3<i class="icon ion-md-thumbs-down"></i></button>
                                                    </div>

                                                    <button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
                                                    <button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
                                                </div>
                                            </li>

                                            <li class="comments__item comments__item--quote">
                                                <div class="comments__autor">
                                                    <img class="comments__avatar" src="{{ asset('img/user.png') }}" alt="">
                                                    <span class="comments__name">John Doe</span>
                                                    <span class="comments__time">11.08.2018, 11:11</span>
                                                </div>
                                                <p class="comments__text"><span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</span>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                <div class="comments__actions">
                                                    <div class="comments__rate">
                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>11</button>

                                                        <button type="button">1<i class="icon ion-md-thumbs-down"></i></button>
                                                    </div>

                                                    <button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
                                                    <button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
                                                </div>
                                            </li>

                                            <li class="comments__item">
                                                <div class="comments__autor">
                                                    <img class="comments__avatar" src="{{ asset('img/user.png') }}" alt="">
                                                    <span class="comments__name">John Doe</span>
                                                    <span class="comments__time">07.08.2018, 14:33</span>
                                                </div>
                                                <p class="comments__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                                <div class="comments__actions">
                                                    <div class="comments__rate">
                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>99</button>

                                                        <button type="button">35<i class="icon ion-md-thumbs-down"></i></button>
                                                    </div>

                                                    <button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
                                                    <button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
                                                </div>
                                            </li>

                                            <li class="comments__item">
                                                <div class="comments__autor">
                                                    <img class="comments__avatar" src="{{ asset('img/user.png') }}" alt="">
                                                    <span class="comments__name">John Doe</span>
                                                    <span class="comments__time">02.08.2018, 15:24</span>
                                                </div>
                                                <p class="comments__text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                                <div class="comments__actions">
                                                    <div class="comments__rate">
                                                        <button type="button"><i class="icon ion-md-thumbs-up"></i>74</button>

                                                        <button type="button">13<i class="icon ion-md-thumbs-down"></i></button>
                                                    </div>

                                                    <button type="button"><i class="icon ion-ios-share-alt"></i>Reply</button>
                                                    <button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
                                                </div>
                                            </li>
                                        </ul>

                                        {% if app.user %}
                                        <form action="#" class="form">
                                            <textarea id="text" name="text" class="form__textarea" placeholder="Add comment"></textarea>
                                            <button type="button" class="form__btn">{{ 'global.send'|trans }}</button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- end comments -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                            <div class="row">
                                <!-- reviews -->
                                <div class="col-12">
                                    <div class="reviews">
                                        <ul class="reviews__list">
                                            {% for review in reviews %}
                                            <li class="reviews__item">
                                                <div class="reviews__autor">
                                                    <img class="reviews__avatar" src="{{ gravatar(review.author.email, 80, 'https://fsalist.com/img/user.png') }}" alt="">
                                                    <span class="reviews__name">{{ review.title }}</span>
                                                    <span class="reviews__time">{{ review.createdAt|date("d.m.Y, H:i") }} by {{ review.author.displayName }}</span>

                                                    <span class="reviews__rating reviews__rating--{{ review.rate >= 7 ? 'green' : review.rate >= 5 ? 'orange' : 'red' }}">{{ review.rate }}</span>
                                                </div>
                                                <p class="reviews__text">{{ review.text }}</p>
                                            </li>
                                            {% endfor %}
                                        </ul>

                                        {% if app.user %}
                                            {{ form_start(reviewForm, {'attr': {'id': 'review-form', 'class': 'form'}}) }}
                                            {{ form_widget(reviewForm.title, {'attr': {'class': 'form__input', 'placeholder': 'details.review-title'}}) }}
                                            {{ form_widget(reviewForm.text, {'attr': {'class': 'form__textarea', 'placeholder': 'details.review-text'}}) }}
                                            <div class="form__slider">
                                                <div class="form__slider-rating" id="slider__rating"></div>
                                                <div class="form__slider-value" id="form__slider-value"></div>
                                            </div>
                                            {{ form_widget(reviewForm.rate) }}

                                            <button type="submit" class="form__btn">{{ 'global.send'|trans }}</button>
                                            {{ form_end(reviewForm) }}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- end reviews -->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                            <!-- project gallery -->
                            <div class="gallery" itemscope>
                                <div class="row">
                                    <!-- gallery item -->
                                    {% for image in images.backdrops %}
                                    <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                        <a href="{{ image.file_path|mediaURL }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}">
                                            <img src="{{ image.file_path|mediaURL('w300') }}" loading="lazy" itemprop="thumbnail" alt="Image description" />
                                        </a>
                                    </figure>
                                    {% endfor %}
                                    {% for image in images.posters %}
                                    <figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
                                        <a href="{{ image.file_path|mediaURL }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}">
                                            <img src="{{ image.file_path|mediaURL('w342') }}" loading="lazy" itemprop="thumbnail" alt="Image description" />
                                        </a>
                                    </figure>
                                    {% endfor %}
                                    <!-- end gallery item -->
                                </div>
                            </div>
                            <!-- end project gallery -->
                        </div>
                    </div>
                    <!-- end content tabs -->
                </div>

                <!-- sidebar -->
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="row">
                        {% if recommendations %}
                        <!-- section title -->
                        <div class="col-12">
                            <h2 class="section__title">{{ 'details.recommendations'|trans }}</h2>
                        </div>
                        <!-- end section title -->

                        <!-- card -->
                        {% for movie in recommendations|slice(0, 8) %}
                            {% set media_url = path('movie-details', {movieId: movie.id}) %}
                        <div class="col-6 col-sm-4 col-lg-6">
                            <div class="card">
                                <div class="card__cover">
                                    <img src="{{ movie.poster_path|mediaURL('w342') }}" alt="{{ movie.title }}">
                                    <a href="{{ media_url }}" class="card__play">
                                        <i class="icon ion-ios-resize"></i>
                                    </a>
                                    {% if movie.vote_count > 0 %}
                                        <span class="card__rate card__rate--{{ movie.vote_average >= 7 ? 'green' : movie.vote_average >= 5 ? 'orange' : 'red' }}">{{ movie.vote_average }}</span>
                                    {% endif %}
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title"><a href="{{ media_url }}">{{ movie.title }}</a></h3>
                                    <span class="card__category">
                                    {% for genreId in movie.genre_ids %}
                                        <a href="{{ path('discover', {'genre': genreId}) }}">{{ genres[genreId] }}</a>
                                    {% endfor %}
								    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end card -->
                        {% endif %}
                    </div>
                </div>
                <!-- end sidebar -->
            </div>
        </div>
    </section>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
        It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <!-- Preloader -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}