{% set title = movie.title %}
{% extends 'base.html.twig' %}
{% block content %}
    <section class="section section--details section--bg" data-bg="{{ asset('img/section/details.jpg') }}">
        <!-- details content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col-11">
                    <h1 class="section__title">{{ movie.title }}</h1>
                </div>
                <!-- end title -->

                <!-- watchlist management -->
                {% if app.user %}
                    <div class="col-1 text-right">
                        <form method="post" action="{{ url(in_watchlist ? 'watchlist-media-remove' : 'watchlist-media-add') }}">
                            <input type="hidden" name="mediaType" value="movie">
                            <input type="hidden" name="mediaId" value="{{ movie.id }}">
                            {% if in_watchlist %}
                                <button type="submit" class="media__manage_wl media__manage_wl--remove" title="{{ 'details.remove-from-watchlist'|trans }}"><i class="icon ion-ios-close-circle-outline"></i></button>
                            {% else %}
                                <button type="submit" class="media__manage_wl media__manage_wl--add" title="{{ 'details.add-to-watchlist'|trans }}"><i class="icon ion-ios-add-circle-outline"></i></button>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
                <!-- end watchlist management -->

                <!-- content -->
                <div class="col-12 col-lg-6">
                    <div class="card card--details">
                        <div class="row">
                            <!-- card cover -->
                            <div class="col-12 col-sm-5 col-lg-6 col-xl-5">
                                <div class="card__cover">
                                    <img src="{{ movie.poster_path|mediaURL('w342') }}" alt="">
                                    {% if movie.vote_count > 0 %}
                                    <span class="card__rate card__rate--{{ movie.vote_average >= 7 ? 'green' : movie.vote_average >= 5 ? 'orange' : 'red' }}">{{ movie.vote_average }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- end card cover -->

                            <!-- card content -->
                            <div class="col-12 col-sm-7 col-lg-6 col-xl-7">
                                <div class="card__content">
                                    <ul class="card__meta">
                                        <li><span>{{ 'details.director'|trans }}:</span> <a href="#">{{ credits.crew[0].name }}</a></li>
                                        <li><span>{{ 'details.genre'|trans }}:</span> {% for genre in movie.genres %} <a href="{{ path('discover', {'genre': genre.id}) }}">{{ genre.name }}</a> {% endfor %}
                                        <li><span>{{ 'details.release-year'|trans }}:</span> {{ movie.release_date|date("Y") }}</li>
                                        <li><span>{{ 'details.running-time'|trans }}:</span> {{ movie.runtime }} min</li>
                                        <li><span>{{ 'details.origin-country'|trans }}:</span> {% for country in movie.production_countries %} <a href="#">{{ country.name|length > 16 ? country.iso_3166_1 : country.name }}</a> {% endfor %}</li>
                                    </ul>
                                    <div class="card__description">{{ movie.overview }}</div>
                                </div>
                            </div>
                            <!-- end card content -->
                        </div>
                    </div>
                </div>
                <!-- end content -->

                {% if videos %}
                <!-- player -->
                <iframe class="col-12 col-lg-6" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" type="text/html" src="https://www.youtube.com/embed/{{ videos[0].key }}?autoplay=0&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe>
                <!-- end player -->
                {% endif %}
            </div>
        </div>
        <!-- end details content -->
    </section>
    <!-- end details -->

    {% include 'media/more-details.html.twig' %}
    {% include 'media/photoswipe.html.twig' %}
{% endblock content %}