<!-- header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__content">
                    <!-- header logo -->
                    <a href="{{ path('homepage') }}" class="header__logo">
                        <img src="{{ asset('img/logo.svg') }}" alt="">
                    </a>
                    <!-- end header logo -->

                    <!-- header nav -->
                    <ul class="header__nav">

                        <li class="header__nav-item">
                            <a href="{{ path('homepage') }}" class="header__nav-link">{{ 'homepage.title'|trans }}</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="{{ path('discover') }}" class="header__nav-link">{{ 'discover.title'|trans }}</a>
                        </li>
                        <li class="header__nav-item">
                            <a href="{{ path('watchlist') }}" class="header__nav-link">{{ 'watchlist.title'|trans }}</a>
                        </li>

                    </ul>
                    <!-- end header nav -->

                    <!-- header auth -->
                    <div class="header__auth">
                        <form action="{{ path('search') }}" class="header__search" method="GET">
                            <input name="q" class="header__search-input" type="text" placeholder="{{ 'navbar.search'|trans }}" />
                            <button class="header__search-button" type="submit">
                                <i class="icon ion-ios-search"></i>
                            </button>
                            <button class="header__search-close" type="button">
                                <i class="icon ion-md-close"></i>
                            </button>
                        </form>

                        <button class="header__search-btn" type="button">
                            <i class="icon ion-ios-search"></i>
                        </button>

                        <!-- dropdown -->
                        <div class="dropdown header__lang">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.request.locale|split('-')[0] }}</a>

                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLang">
                                {% for langue, code in {'Français': 'fr-FR', 'English': 'en-US'} %}
                                <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': code})) }}">{{ langue }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end dropdown -->

                        {% if app.user %}
                            <a href="{{ path('profile') }}"><img class= "header__avatar" src="{{ gravatar(app.user.email, 80, 'https://fsalist.com/img/user.png') }}" alt="profile picture"></a>
                        {% else %}
                            <a href="{{ path('login') }}" class="header__sign-in">
                                <i class="icon ion-ios-log-in"></i>
                                <span>{{ 'auth.login'|trans }}</span>
                            </a>
                        {% endif %}

                    </div>
                    <!-- end header auth -->

                    <!-- header menu btn -->
                    <button class="header__btn" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- end header menu btn -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
