{% set title = titleKey|trans %}
{% extends 'base.html.twig' %}
{% block content %}
{% include 'includes/breadcrumb.html.twig' %}
    <!-- filter -->
    <div class="filter">
    {% if filters is not defined or filters %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="{{ path('discover') }}" id="filters-form" method="GET">
                    <div class="filter__content">
                        <div class="filter__items">
                            <!-- filter item -->
                            <div class="filter__item" id="filter__genre">
                                <span class="filter__item-label">{{ 'discover.filter.genre'|trans }}</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <input type="button" value="{{ last_form.genre is defined ? genres[last_form.genre] : 'discover.filter.genre-hint'|trans }}">
                                    <input type="hidden" value="{{ last_form.genre|default }}" name="genre">
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                    <li data-id="">{{ 'discover.filter.genre-all'|trans }}</li>
                                    {% for id, genre in genres %}
                                        <li data-id="{{ id }}">{{ genre }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__rate">
                                <span class="filter__item-label">{{ 'discover.filter.rate'|trans }}</span>

                                <div class="filter__item-btn dropdown-toggle" role="button" id="filter-rate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="filter__range">
                                        <div id="filter__imbd-start"></div>
                                        <div id="filter__imbd-end"></div>
                                    </div>
                                    <span></span>
                                </div>
                                <input type="hidden" value="" name="rate-min" id="form-filter-rate-min"/>
                                <input type="hidden" value="" name="rate-max" id="form-filter-rate-max"/>

                                <div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-rate">
                                    <div id="filter__imbd"></div>
                                </div>
                            </div>
                            <!-- end filter item -->

                            <!-- filter item -->
                            <div class="filter__item" id="filter__year">
                                <span class="filter__item-label">{{ 'discover.filter.release-year'|trans }}</span>

                                <div class="filter__item-btn dropdown-toggle" role="button" id="filter-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="filter__range">
                                        <div id="filter__years-start"></div>
                                        <div id="filter__years-end"></div>
                                    </div>
                                    <span></span>
                                </div>
                                <input type="hidden" value="" name="year-min" id="form-filter-year-min"/>
                                <input type="hidden" value="" name="year-max" id="form-filter-year-max"/>

                                <div class="filter__item-menu filter__item-menu--range dropdown-menu" aria-labelledby="filter-year">
                                    <div id="filter__years"></div>
                                </div>
                            </div>
                            <!-- end filter item -->
                        </div>

                        <!-- filter btn -->
                        <button class="filter__btn" type="submit">{{ 'discover.filter.apply-filter'|trans }}</button>
                        <!-- end filter btn -->
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    <!-- end filter -->
    <!-- catalog -->
    <div class="catalog">
        <div class="container">
            <div class="row">
                <!-- card -->
                {% set card_layout = 'col-6 col-sm-4 col-md-3 col-xl-2' %}
                {% for displayMedia in medias %}
                    {% include 'component/card.html.twig' %}
                {% endfor %}
                <!-- end card -->

                {% if max_page > 1 %}
                    <!-- paginator -->
                    <div class="col-12">
                        <ul class="paginator">
                            {% if page-5 > 1 %}
                                <li class="paginator__item paginator__item--prev">
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': 1})) }}"><i class="icon ion-ios-arrow-back"></i></a>
                                </li>
                            {% endif %}
                            {% if page > 1 %}
                            <li class="paginator__item paginator__item--prev">
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page-1})) }}"><i class="icon ion-ios-arrow-back"></i></a>
                            </li>
                            {% endif %}
                            {% for i in range(max(min(page, page - 5), 1), min(page + 5, max_page)) %}
                                <li class="paginator__item{{ i == page ? ' paginator__item--active' : '' }}"><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i})) }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if page < max_page %}
                            <li class="paginator__item paginator__item--next">
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page+1})) }}"><i class="icon ion-ios-arrow-forward"></i></a>
                            </li>
                            {% endif %}
                            {% if page+5 < max_page %}
                                <li class="paginator__item paginator__item--next">
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': max_page})) }}"><i class="icon ion-ios-arrow-forward"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- end paginator -->
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end catalog -->
{% endblock content %}