{% set title = 'contact.title'|trans %}
{% extends 'base.html.twig' %}
{% block content %}
    {% set empty_breadcrumb = '' %}
{% include 'includes/breadcrumb.html.twig' %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-xl-8">
                    <div class="row">
                        <!-- section title -->
                        <div class="col-12">
                            <h2 class="section__title">{{ 'contact.title'|trans }}</h2>
                        </div>
                        <!-- end section title -->

                        <div class="col-12">
                            {{ form_start(form, {'attr': {'id': 'contact-form', 'class': 'form form--contacts'}}) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form__input', 'placeholder': 'contact.name'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form__input', 'placeholder': 'contact.email'}}) }}
                                {{ form_widget(form.subject, {'attr': {'class': 'form__input', 'placeholder': 'contact.subject'}}) }}
                                {{ form_widget(form.message, {'attr': {'class': 'form__textarea', 'placeholder': 'contact.text-hint'}}) }}
                                <button type="submit" class="form__btn">{{ 'global.send'|trans }}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-5 col-xl-4">
                    <div class="row">
                        <!-- section title -->
                        <div class="col-12">
                            <h2 class="section__title">{{ 'contact.info.title'|trans }}</h2>
                        </div>
                        <!-- end section title -->

                        <div class="col-12">
                            <p class="section__text">{{ 'contact.info.details'|trans|raw }}</p>

                            <ul class="contacts__list">
                                <li><a href="tel:++33135309832">+33 1 35 30 98 32</a></li>
                                <li><a href="mailto:contact@fsalist.com">contact@fsalist.com</a></li>
                            </ul>
                            <ul class="contacts__social">
                                <li class="facebook"><a href="https://facebook.com/FSAList"><i class="icon ion-logo-facebook"></i></a></li>
                                <li class="instagram"><a href="https://instagram.com/FSAList"><i class="icon ion-logo-instagram"></i></a></li>
                                <li class="twitter"><a href="https://twitter.com/FSAList"><i class="icon ion-logo-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}