{% extends 'base.html.twig' %}
{% block content %}
{% include 'includes/breadcrumb.html.twig' %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-xl-8">
                    <div class="row">
                        <!-- section title -->
                        <div class="col-12">
                            <h2 class="section__title">{{ 'contact.title'|trans }}</h2>
                        </div>
                        <!-- end section title -->

                        <div class="col-12">
                            <form action="#" class="form form--contacts">
                                <input type="text" class="form__input" placeholder="{{ 'contact.name'|trans }}">
                                <input type="text" class="form__input" placeholder="{{ 'contact.email'|trans }}">
                                <input type="text" class="form__input" placeholder="{{ 'contact.subject'|trans }}">
                                <textarea id="text" name="text" class="form__textarea" placeholder="{{ 'contact.text-hint'|trans }}"></textarea>
                                <button type="button" class="form__btn">{{ 'contact.send'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-5 col-xl-4">
                    <div class="row">
                        <!-- section title -->
                        <div class="col-12">
                            <h2 class="section__title">Info</h2>
                        </div>
                        <!-- end section title -->

                        <div class="col-12">
                            <p class="section__text">It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>

                            <ul class="contacts__list">
                                <li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
                                <li><a href="mailto:contact@fsalist.com">contact@fsalist.com</a></li>
                            </ul>
                            <ul class="contacts__social">
                                <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                                <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                                <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                                <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}