{% set title = 'homepage.title'|trans %}

{% extends 'base.html.twig' %}
{% block content %}
    <section class="home">
        <!-- home bg -->
        <div class="owl-carousel home__bg">
            <div class="item home__cover" data-bg="{{ asset('img/home/home__bg.jpg') }}"></div>
            <div class="item home__cover" data-bg="{{ asset('img/home/home__bg2.jpg') }}"></div>
            <div class="item home__cover" data-bg="{{ asset('img/home/home__bg3.jpg') }}"></div>
            <div class="item home__cover" data-bg="{{ asset('img/home/home__bg4.jpg') }}"></div>
            <div class="item home__cover" data-bg="{{ asset('img/home/home__bg5.jpg') }}"></div>
        </div>
        <!-- end home bg -->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="home__title">{{ 'homepage.now-playing'|trans|raw }}</h1>

                    <button class="home__nav home__nav--prev" type="button">
                        <i class="icon ion-ios-arrow-round-back"></i>
                    </button>
                    <button class="home__nav home__nav--next" type="button">
                        <i class="icon ion-ios-arrow-round-forward"></i>
                    </button>
                </div>

                <div class="col-12">
                    <div class="owl-carousel home__carousel">
                        <!-- card -->
                        {% set card_layout = 'card--big' %}
                        {% for displayMedia in nowPlayingMovies|slice(0, 23) %}
                            {% include 'component/card.html.twig' %}
                        {% endfor %}
                        <!-- end card -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- content -->
    <section class="content">
        <div class="content__head">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- content title -->
                        <h2 class="content__title">{{ 'homepage.whats-new'|trans }}</h2>
                        <!-- end content title -->

                        <!-- content tabs nav -->
                        <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">{{ 'homepage.tabs.upcomming-movies'|trans }}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">{{ 'homepage.tabs.on-air-shows'|trans }}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">{{ 'homepage.tabs.trending-animes'|trans }}</a>
                            </li>
                        </ul>
                        <!-- end content tabs nav -->

                        <!-- content mobile tabs nav -->
                        <div class="content__mobile-tabs" id="content__mobile-tabs">
                            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" value="New releases">
                                <span></span>
                            </div>

                            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">{{ 'homepage.tabs.upcomming-movies'|trans }}</a></li>

                                    <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">{{ 'homepage.tabs.on-air-shows'|trans }}</a></li>

                                    <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">{{ 'homepage.tabs.trending-animes'|trans }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end content mobile tabs nav -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- content tabs -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                    <div class="row">
                        <!-- card -->
                        {% set card_layout = 'col-6 col-sm-4 col-md-3 col-xl-2' %}
                        {% for displayMedia in upcomingMovies|slice(0, 18) %}
                            {% include 'component/card.html.twig' %}
                        {% endfor %}
                        <!-- end card -->
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                    <div class="row">
                        <!-- card -->
                        {% set card_layout = 'col-6 col-sm-4 col-md-3 col-xl-2' %}
                        {% for displayMedia in onAirTvShows|slice(0, 18) %}
                            {% include 'component/card.html.twig' %}
                        {% endfor %}
                        <!-- end card -->
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                    <div class="row">
                        <!-- card -->
                        {% set card_layout = 'col-6 col-sm-4 col-md-3 col-xl-2' %}
                        {% for displayMedia in trendingAnimes|slice(0, 18) %}
                            {% include 'component/card.html.twig' %}
                        {% endfor %}
                        <!-- end card -->
                    </div>
                </div>

            </div>
            <!-- end content tabs -->
        </div>
    </section>
    <!-- end content -->
{% endblock content %}