{% extends 'auth/base.html.twig' %}

{% block content %}
    <div class="sign__group">
        <input type="text" class="sign__input" placeholder="{{ 'auth.email'|trans }}">
    </div>

    <div class="sign__group">
        <input type="password" class="sign__input" placeholder="{{ 'auth.password'|trans }}">
    </div>

    <div class="sign__group sign__group--checkbox">
        <input id="remember" name="remember" type="checkbox" checked="checked">
        <label for="remember">{{ 'auth.remember-me'|trans }}</label>
    </div>

    <button class="sign__btn" type="button">{{ 'auth.sign-in'|trans }}</button>

    <span class="sign__text">{{ 'auth.not-registered-yet-notice'|trans }} <a href="{{ path('sign-up') }}">{{ 'auth.sign-up'|trans }}!</a></span>

    <span class="sign__text"><a href="{{ path('forgot-password') }}">{{ 'auth.forgot-password'|trans }}</a></span>
{% endblock content %}